{% extends 'base.html.twig' %}

{% block body %}



        <div class="jumbotron">
            <h1>Liga</h1>
            <p>2017. AC.</p>
        </div>


        <div class="page-header">
            <h2>Stats</h2>
            <h3>Clubs</h3>
            <p>Total: {{ clubs|length }}</p>
            <h3>Players</h3>
            <p>Total: {{ playes|length }}</p>
        </div>
    </div> <!-- /container -->

{% endblock %}

{% block stylesheets %}

{% endblock %}
